    * {
        margin: 0;
        padding: 0;
    }
    
    #listview {
        margin-top: 12px;
    }
    
    .alumno {
        border-bottom: 1px black solid;
        padding: 12px 12px;
        font-size: 32px;
        font-family: monospace;
        list-style: none;
        background-color: beige;
    }